.git
.github
.gitignore

node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

__pycache__/
*.py[cod]
.pytest_cache/

dist
build
coverage
.coverage

.env
.env.*
*.env
*.pem

.DS_Store
*.log
tmp
